In [ ]:
"""Notebook to map sequences with sum_llrs > 6 to Metadata based on accession IDs for downstream analysis with matUtils
Some Mov sequences were missing from the global gisaid tree (unmatched sequences) and therefore, we had to get their metadata separately to include them with USheR""""

In [ ]:
import pandas as pd
import tqdm

In [ ]:
Mov_df = pd.read_csv("/Users/reem/Mov/sum_llrs.tsv", sep="\t")

In [28]:
Mov_df = Mov_df[Mov_df['sum_llrs']>6]

In [29]:
len(Mov_df)

2200

In [ ]:
Mov_df.to_csv("/Users/reem/Mov/mov_df.tsv", sep="\t", index=False)

In [30]:
iterator = pd.read_csv("/Users/reem/Downloads/metadata_tsv_2025_09_28/metadata.tsv", sep="\t", usecols=["Accession ID", "Virus name"], chunksize=1000)
df = pd.concat([chunk for chunk in tqdm.tqdm(iterator, desc='Loading data')])

Loading data: 17454it [00:50, 343.89it/s]

In [31]:
merged = Mov_df.merge(df[["Accession ID", "Virus name"]], left_on="seqName", right_on = "Virus name", how="left")

In [32]:
merged.head()

,Unnamed: 0,seqName,LLR,G>A_llr,C>T_llr,A>G_llr,T>C_llr,sum_llrs,country,year,Accession ID,Virus name
0,6013,hCoV-19/USA/VT-MASPHL-02288/2021,8.356410,1.171612,0.911050,NaN,NaN,10.439071,USA,2021,EPI_ISL_1503557,hCoV-19/USA/VT-MASPHL-02288/2021
1,8124,hCoV-19/Brazil/MA-FIOCRUZ-6871/2021,5.249443,NaN,0.486975,0.970056,NaN,6.706474,Brazil,2021,EPI_ISL_1181371,hCoV-19/Brazil/MA-FIOCRUZ-6871/2021
2,18235,hCoV-19/Germany/BY-RKI-I-244904/2021,5.441137,0.493797,1.371533,NaN,NaN,7.306467,Germany,2021,EPI_ISL_4441912,hCoV-19/Germany/BY-RKI-I-244904/2021
3,20406,hCoV-19/Germany/NW-HHU-30660/2022,14.368461,3.387413,0.537229,2.471478,1.674730,22.439311,Germany,2022,EPI_ISL_14138850,hCoV-19/Germany/NW-HHU-30660/2022
4,24734,hCoV-19/Slovakia/KE_22_00000844/2022,6.091137,2.923643,1.203728,0.175260,-0.177746,10.216023,Slovakia,2022,EPI_ISL_12352738,hCoV-19/Slovakia/KE_22_00000844/2022

In [33]:
len(merged)

2200

In [45]:
merged.to_csv("/Users/reem/Mov/mov_df_with_accession.tsv", sep="\t", index=False)

In [35]:
final_df = merged["Virus name"]
len(final_df)

2200

In [24]:
final_df.to_csv("/Users/reem/Mov/mov_seqs.tsv", sep="\t", index=False)

In [38]:
df.head(10)

                               Virus name      Accession ID
0         hCoV-19/Israel/SMC-7103248/2022  EPI_ISL_15173403
1       hCoV-19/Israel/ICH-741216991/2022  EPI_ISL_12375715
2     hCoV-19/South Korea/KDCA278478/2023  EPI_ISL_18712060
3       hCoV-19/USA/CA-CDC-FG-155526/2021   EPI_ISL_5901503
4     hCoV-19/USA/CA-CDPH-3000143864/2021   EPI_ISL_5106195
5  hCoV-19/Netherlands/NH-RIVM-92606/2022  EPI_ISL_11408056
6      hCoV-19/Slovenia/IMI-V0-20608/2023  EPI_ISL_18712706
7      hCoV-19/USA/CA-LACPHL-AF18857/2022  EPI_ISL_16921010
8            hCoV-19/Japan/PG-457458/2023  EPI_ISL_17279503
9      hCoV-19/USA/CA-LACPHL-AY04098/2023  EPI_ISL_18715153

In [44]:
merged.head()

,Unnamed: 0,seqName,LLR,G>A_llr,C>T_llr,A>G_llr,T>C_llr,sum_llrs,country,year,Accession ID,Virus name
0,6013,hCoV-19/USA/VT-MASPHL-02288/2021,8.356410,1.171612,0.911050,NaN,NaN,10.439071,USA,2021,EPI_ISL_1503557,hCoV-19/USA/VT-MASPHL-02288/2021
1,8124,hCoV-19/Brazil/MA-FIOCRUZ-6871/2021,5.249443,NaN,0.486975,0.970056,NaN,6.706474,Brazil,2021,EPI_ISL_1181371,hCoV-19/Brazil/MA-FIOCRUZ-6871/2021
2,18235,hCoV-19/Germany/BY-RKI-I-244904/2021,5.441137,0.493797,1.371533,NaN,NaN,7.306467,Germany,2021,EPI_ISL_4441912,hCoV-19/Germany/BY-RKI-I-244904/2021
3,20406,hCoV-19/Germany/NW-HHU-30660/2022,14.368461,3.387413,0.537229,2.471478,1.674730,22.439311,Germany,2022,EPI_ISL_14138850,hCoV-19/Germany/NW-HHU-30660/2022
4,24734,hCoV-19/Slovakia/KE_22_00000844/2022,6.091137,2.923643,1.203728,0.175260,-0.177746,10.216023,Slovakia,2022,EPI_ISL_12352738,hCoV-19/Slovakia/KE_22_00000844/2022

In [ ]:
df_unmatched = pd.read_csv("/Users/reem/unmatched.txt", sep="\t", names = ["Accession ID"])

In [ ]:
df_mov = pd.read_csv("/Users/reem/Mov/mov_df_with_accession.tsv", sep="\t")

In [9]:
df_mov.head()

,Unnamed: 0,seqName,LLR,G>A_llr,C>T_llr,A>G_llr,T>C_llr,sum_llrs,country,year,Accession ID,Virus name
0,6013,hCoV-19/USA/VT-MASPHL-02288/2021,8.356410,1.171612,0.911050,NaN,NaN,10.439071,USA,2021,EPI_ISL_1503557,hCoV-19/USA/VT-MASPHL-02288/2021
1,8124,hCoV-19/Brazil/MA-FIOCRUZ-6871/2021,5.249443,NaN,0.486975,0.970056,NaN,6.706474,Brazil,2021,EPI_ISL_1181371,hCoV-19/Brazil/MA-FIOCRUZ-6871/2021
2,18235,hCoV-19/Germany/BY-RKI-I-244904/2021,5.441137,0.493797,1.371533,NaN,NaN,7.306467,Germany,2021,EPI_ISL_4441912,hCoV-19/Germany/BY-RKI-I-244904/2021
3,20406,hCoV-19/Germany/NW-HHU-30660/2022,14.368461,3.387413,0.537229,2.471478,1.674730,22.439311,Germany,2022,EPI_ISL_14138850,hCoV-19/Germany/NW-HHU-30660/2022
4,24734,hCoV-19/Slovakia/KE_22_00000844/2022,6.091137,2.923643,1.203728,0.175260,-0.177746,10.216023,Slovakia,2022,EPI_ISL_12352738,hCoV-19/Slovakia/KE_22_00000844/2022

In [10]:
df_unmatched["Name"] = df_unmatched.merge(df_mov, on="Accession ID", how="left")["seqName"]

In [11]:
df_unmatched.head()

       Accession ID                                    Name
0  EPI_ISL_14138850       hCoV-19/Germany/NW-HHU-30660/2022
1  EPI_ISL_17742001  hCoV-19/Australia/NSW-ICPMR-47243/2023
2  EPI_ISL_16297228  hCoV-19/deer/USA/PA-22-000890-002/2021
3  EPI_ISL_18247242     hCoV-19/USA/NY-URMC-N2S1I939-1/2023
4  EPI_ISL_19168138           hCoV-19/Japan/FR067-0052/2024

In [16]:
df_unmatched.drop("Accession ID", axis=1, inplace=True)

In [17]:
df_unmatched.head()

                                     Name
0       hCoV-19/Germany/NW-HHU-30660/2022
1  hCoV-19/Australia/NSW-ICPMR-47243/2023
2  hCoV-19/deer/USA/PA-22-000890-002/2021
3     hCoV-19/USA/NY-URMC-N2S1I939-1/2023
4           hCoV-19/Japan/FR067-0052/2024

In [19]:
df_unmatched.to_csv("/Users/reem/unmatched_names.tsv", sep="\t", header = False, index=False)